body {
    margin: 0px;
    -webkit-user-select:none;
}

#cv {
    border: 12px solid brown;
    background-image: url('../images/blackboard.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    float: left;
}

#menu {
    float: left;
}

#clear {
    width:100px;
    height:50px;
}
#cv_pen {
    width: 100px;
    height: 50px;
    float: left;
    background-image: url('images/blackboard.jpg');
}

fieldset {
    width: 100px;
    height: 60px;
    /*float: left:left;*/
}

#pen_shape {
    position: absolute;
    top: 20px;
    left: 700px;
    color: white;
}