
* {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius:5px;
    overflow:left
}

.menu> li{
    width: 180px;
    height:50px;
    border:1px solid black;
    list-style:none;
    background-color:rgba(128, 128, 128, 0.658);
    margin-left:10px;
    margin-bottom:10px;
}

.menu> li:hover{
    background-color:red;
}

.menu {
    background-color:rgb(168, 162, 162);
    width:200px;
    height:1000px;
}

.container {
    margin-left:200px;
    margin-top: -1000px;
    border:1px solid green;
    width:1100px;
    height:1000px;
}

.row0 {
    margin-left:20px;
    margin-top:50px;
    width:1000px;
    height:400px;
    border:1px solid red;
}
.row1{
    width:1000px;
    height:500px;
    border:1px solid red;
    margin-left:20px;
    margin-top:20px;
}

.column0 {
    width: 400px;
    height:300px;
    border:1px solid blue;
    margin-left:40px;
    margin-top:30px;
}

.column1 {
    width: 400px;
    height:300px;
    border:1px solid blue;
    margin-left:490px;
    margin-top:-300px;
}

.column2 {
    width: 900px;
    height:450px;
    border:1px solid blue;
    margin-left:40px;
}

.component0 {
    border: 5px solid black ;
    border-style: dotted;
    width:350px;
    height:100px;
    margin-left: 20px;
    margin-top: 20px;

}

.component1 {
    border: 5px solid black ;
    border-style: dotted;
    width:800px;
    height:100px;
    margin-left: 20px;
    margin-top: 20px;

}


